@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 786px) { 
    .women{
        width: 500px;
        flex-shrink: 0.2; 
    }

  
 }

 html {
    scroll-behavior: smooth;
  }

 .appointment{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
}

.oh{
    width: 100%;
}
.womens {
    display: none;
}


@media (min-width: 979px){

    .groups{
        top: 25%;
        right:0;
        position: absolute;
        justify-content: space-between;
        display: flex;
        width: 90%;
    }

    .womens {
        display: flex;
    }
    
}

 @media (min-width:640px) {
     .features{
         margin: initial;
     }
 }

 .features{
     margin-left: auto;
     margin-right: auto;
 }



 @font-face {
    font-family: 'inter-Black';
    src: local('inter-Black'), url(./fonts/Inter-Black.ttf) format('truetype');
  }

  @font-face {
    font-family: 'inter-Medium';
    src: local('inter-Medium'), url(./fonts/Inter-Medium.ttf) format('truetype');
  }

  @font-face {
    font-family: 'inter-Regular';
    src: local('inter-Regular'), url(./fonts/Inter-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'inter-ExtraBold';
    src: local('inter-ExtraBold'), url(./fonts/Inter-ExtraBold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'inter-light';
    src: local('inter-light'), url(./fonts/Inter-Light.ttf) format('truetype');
  }